:root {
  --white: #ffffff;
  --background-white: #f5f5f5;
  --semi-white: #fff;
  --primary-color: #b31312;
  --secondary-color: rgb(7, 25, 82);
  --light-secondary-color: rgb(25, 52, 139);
  --bare-sec: 7, 25, 82;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.react-calendar__navigation,
.react-calendar * {
  width: 100%;
}

.react-calendar {
  width: 100%;
  height: calc(100% - 70px);
}

.react-calendar__viewContainer {
  width: 100%;
  height: calc(100% - 60px);
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view > div,
.react-calendar__month-view > div > div {
  height: 100%;
}

.react-calendar__month-view__days {
  height: calc(100% - 30px);
}

#portal {
}
